<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/styles_Integrated.css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/logo.jpeg">
    <title>Wellness Sync</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header class="header-logo">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0" href="{{ url_for('index') }}">
                <img src="static/images/logo.jpeg" alt="Wellness Sync Logo" class="w-10 h-10 rounded-full">
                <span class="name">&nbsp;Wellness Sync</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="section" href="{{ url_for('index') }}"><b>Dashboard</b></a>&nbsp;&nbsp;&nbsp;
                <a class="section" href="/"><b>Health Tracker</b></a>&nbsp;&nbsp;&nbsp;
                <!-- Updated -->
                <a class="section" href="{{ url_for('community') }}"><b>Community</b></a>&nbsp;&nbsp;&nbsp;
                <!-- Community Link -->
                <a class="section" href="/"><b>Medical</b></a>&nbsp;&nbsp;&nbsp; <!-- Updated -->

                {% if session.get('username') %}
                <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
                    <button type="submit" class="section"><b>Logout</b></button>
                </form>&nbsp;&nbsp;&nbsp;
                {% else %}
                <a class="section" href="{{ url_for('login') }}" id="login_button"><b>My
                        Profile</b></a>&nbsp;&nbsp;&nbsp;
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="blogs-header">
        <h1><u>Read these Blogs for some Life Changing Tips!</u></h1>
    </div>

    <section class="community-section mt-1">
        <div class="container px-5 py-24 mx-auto">
            <div class="-my-8 divide-y-2 divide-gray-100">
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <img src="static/images/ayurveda.webp" class="mb-4"> <!-- Added margin-bottom -->
                    </div>
                    <div class="md:flex-grow">
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 pl-4">GOING BEYOND THE BASICS OF
                            AYURVEDA…</h2>
                        <p class="leading-relaxed pl-4">What you knew and what you probably didn’t! Ayurveda, the
                            ancient Indian medical practice, has been guiding people to follow a holistic living for
                            thousands of years now.</p>
                        <a class="text-black-500 inline-flex items-center mt-4 pl-4 hover:text-gray-500"
                            href="https://atmantan.com/blog/guide-to-ancient-ayurvedic-principles-to-elevate-modern-living-and-healthy-lifestyle/"><b>Learn
                                More</b>
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <img src="static/images/mindfulness.jpg" class="mb-4"> <!-- Added margin-bottom -->
                    </div>
                    <div class="md:flex-grow">
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 pl-4">Mind your brain: 6 ways to
                            keep it healthy and happy</h2>
                        <p class="leading-relaxed pl-4">Your brain is the most complex organ of your body consisting of
                            a whopping 86 billion neurons that form more than 100 trillion connections. This 3 pound
                            (1.4 Kg) powerhouse is the ultimate command center where intelligence thrives, sensory
                            information gets processed, bodily movements are initiated, and emotions are regulated.</p>
                        <a class="text-black-500 inline-flex items-center mt-4 pl-4 hover:text-gray-500"
                            href="https://atmantan.com/blog/6-tips-to-keep-your-brain-healthy-and-boost-mental-wellness/"><b>Learn
                                More</b>
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="py-8 flex flex-wrap md:flex-nowrap">
                    <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                        <img src="static/images/guthealth.jpg" class="mb-4"> <!-- Added margin-bottom -->
                    </div>
                    <div class="md:flex-grow">
                        <h2 class="text-2xl font-medium text-gray-900 title-font mb-2 pl-4">GUT-sy TALK… Let’s just go
                            with our Gut</h2>
                        <p class="leading-relaxed pl-4">Namaste Reader, Trust this blog finds your Gut in the pink of
                            its health! For most of us that is not always the case… The gut holds supreme importance
                            when it comes to our health and well-being and there is a lot more to this ‘gut’ than we
                            know.</p>
                        <a class="text-black-500 inline-flex items-center mt-4 pl-4 hover:text-gray-500"
                            href="https://atmantan.com/blog/gut-sy-talk-lets-just-go-with-our-gut/"><b>Learn More</b>
                            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"></path>
                                <path d="M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer1 bg-black text-white">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <!-- Replace SVG with Image Logo in Footer -->
            <a class="flex title-font font-medium items-center md:justify-start justify-center" href="/">
                <img src="static/images/logo.jpeg" alt="Wellness Sync Logo" class="w-10 h-10 rounded-full">
                <span class="ml-3 text-xl">Wellness Sync</span>
            </a>
            <p class="text-sm sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
                © 2024 Wellness Sync - @wellness_sync
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <!-- Social Media Links -->
                <a href="https://www.facebook.com/wellnesssync" class="text-gray-400" target="_blank">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                </a>

                <a href="https://twitter.com/wellness_sync" class="ml-3 text-gray-400" target="_blank">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        class="w-5 h-5" viewBox="0 0 24 24">
                        <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                        </path>
                    </svg>
                </a>
                <!-- Instagram -->
                <a href="https://www.instagram.com/wellnesssync" class="ml-3 text-gray-400" target="_blank">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                </a>
                <!-- LinkedIn -->
                <a href="https://www.linkedin.com/company/wellnesssync" class="ml-3 text-gray-400" target="_blank">
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                        </path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                </a>
            </span>
        </div>
    </footer>

</body>

</html>